$gridColor: #b4b4ff;
$gridCellHoverBorder: #00a405;
$gridCellHoverBg: #f3fbf3;
$gridCellPressed: #333;
$gridCellPressedBg: #f2f4f8;
$crossColor: red;
$crossBg: rgba(249, 238, 238, 0.75);
$hintBg: rgba(0,0,255,.05);
$hintColor: #00f;
$miniShipColor: rgba(180,180,255,.5);
$miniShipSinkedColor: #ffaeae
